body{
    height:6000px;
}
#boxes{
    box-shadow: 2px 2px 5px 0px;
    border-radius: 5px;
}
#laptopList{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 80px;
    position: absolute;
    left: 25px;
    top: 260px;
}
#adder{
    position: absolute;
    top: 170px;
    right: 40%;
}